.accordion {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.3em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.App {
  background-color: #26a69a;
  padding-top: 2em;
  padding-bottom: 2em;
}

.card {
  border-radius: 0px !important;
}
